/* Shared Body Style */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
}

/* Banner Style */
.banner {
  background-image: url("..//images/banner/banner1.png");
  width: 1600px;
  height: 808px;
  /* background-repeat: no-repeat; */
}

.banner-title {
  color: #151414;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  padding: 216px 230px 0px 845px;
}

.banner-message {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  padding: 0px 230px 0px 876px;
}

.banner-contact {
  border-radius: 5px;
  background: #f15b22;
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 20px 25px;
}

.banner-button {
  float: right;
  padding: 0px 230px 166px 1210px;
  margin-top: 32px;
}

/* Main Section Style    */
.main-section {
  display: flex;
  margin-top: 140px;
  padding-left: 277px;
  background: #fff;
  padding-bottom: 130px;
}

.person {
  /* position: relative; */

  /* width: 527px;
  height: 527px; */
  border-radius: 50%;
  background: rgba(241, 91, 34, 0.2);
}

.main-text-section {
  text-align: left;
  padding-right: 450px;
  padding-left: 87px;
  padding-top: 170px;
}

.main-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.main-message {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}

.main-list {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  list-style-image: url("..//images/icons/tick.svg");
}

.main-list-li {
  margin-bottom: 8px;
}

/* Plan Section Style */
.plan-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.task-container {
  display: flex;
  /* align-items: center; */
  gap: 209px;
  padding-left: 230px;
  padding-right: 289px;
  padding-bottom: 135px;
}

.task {
  align-content: center;
}

.task-logo {
  padding-top: 26px;
}

.task-title {
  margin-top: 20px;
  color: #151414;
  font-size: 30px;
  font-weight: 700;
}

.task-message {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
  margin-top: 16px;
}

/* Positive BG style */

.positive-bg {
  background-image: url("../images/watch.png");
  /* linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  border-radius: 8px; */
  /* background-image: url("../images/gradient3.png"),
    linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%); */
  background-repeat: no-repeat;
  width: 1140px;
  height: 300px;
  background-position: center;
  /* background-size: cover; */
  padding-left: 330px;
  padding-right: 230px;
  padding-bottom: 130px;
}

.positive-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  padding-top: 59px;
  padding-left: 64px;
  padding-right: 617px;
}

.positive-contact {
  border-radius: 5px;
  background: #fff;
  border: none;
  padding: 21px 36px;
  color: #f15b22;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.positive-button {
  padding: 0px 916px 59px 64px;
  margin-top: 24px;
}

/* Footer Style */

.footer-container {
  display: flex;
  gap: 500px;
  /* padding-top: 130px; */
  padding-left: 230px;
  padding-right: 230px;
  background-color: #151414;
}

.footer-title {
  padding-top: 100px;
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
}

.footer-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}

#footer-text-1 {
  margin-top: 16px;
}

#phone {
  margin-bottom: 32px;
}

.subscribe-title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  padding-top: 130px;
  padding-right: 431px;
}

/* .email {
  border-radius: 8px;
  border: 1px solid #fff;
  /* color: #f3f3f3; */

/* font-size: 18px;

  font-weight: 400;
  padding-right: 229px;
  width: 325px;
  height: 64px;
} */
*/ .subscribe-button {
  padding: 0px 383px 243px 0px;
  margin-top: 16px;
}

.subscribe-text {
  border-radius: 8px;
  background: #fff;
  border: none;
  padding: 20px 36px;
  color: #f15b22;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

.email-box {
  padding-right: 229px;
  margin-top: 31px;
  margin-bottom: 16px;
}

#email {
  border-radius: 8px;
  background: #151414;
  border: 1px solid #fff;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 400;
  padding: 21px 100px 22px 21px;
}
